.fs-0 {
    font-size: 4rem;
}
.fs-7 {
    font-size: 0.8rem;
}
.bg-gray{
    background-color: #f0f2f5;
}
@media (min-width: 62em) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}